.profile {
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.card {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: #ddebf8;
    border-bottom: #d8cefe 4px solid;
    color: #2b2839;
}

.border {
    border: 1px dotted blue;
}

.info {
    justify-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2b2839;
    direction: auto;
}